* @snowflakedb/snowpark-python-api-reviewers
/src/snowflake/snowpark/modin/ @snowflakedb/snowpark-pandas-api
/tests/integ/modin/ @snowflakedb/snowpark-pandas-api
/tests/unit/modin/ @snowflakedb/snowpark-pandas-api
/docs/modin_api_coverage/ @snowflakedb/snowpark-pandas-api
/docs/source/modin/ @snowflakedb/snowpark-pandas-api
/tests/notebooks/ @snowflakedb/snowpark-pandas-api
/.github/ @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers
/scripts/ @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers
setup.py @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers
tox.ini @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers
README.md @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers
CONTRIBUTING.md @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers
tests/README.md @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers
