name: Check for Local Testing changes

on:
  pull_request:
    branches: '**'

jobs:
  request_local_testing_review_if_necessary:
    if: ${{!contains(github.event.pull_request.requested_reviewers, 'snowflakedb/local-testing')}}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Request Local Testing review if PR contains local_testing_mode
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        url: ${{ github.event.pull_request.html_url }}
        body: ${{github.event.pull_request.requested_reviewers}}
      run: |
        gh pr comment "$url" --body "$body"
        gh pr diff "$url" | grep "^+" | grep "local_testing_mode" && gh pr comment "$url" --body "Seems like your changes contain some Local Testing changes, please request review from @snowflakedb/local-testing"
